body {
    font-size: 15px;
    background: hsl(0, 0%, 95%);
    padding: 60px 20px;
}

.card-1 {
    background: hsl(31, 77%, 52%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 40px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
}

.description {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 10px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.card-2 {
    background: hsl(184, 100%, 22%);
    padding: 40px;
}

.card-3 {
    background: hsl(179, 100%, 13%);
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px;
}

button {
    background: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    border-radius: 20px;
    padding: 10px 30px;
    border-color: white;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.card-mid {
    margin-bottom: 30px;
}

.b1 {
    color: hsl(31, 77%, 52%);
}

.b2 {
    color: hsl(184, 100%, 22%);
}

.b3 {
    color: hsl(179, 100%, 13%);
}